html,
body {
    margin: 0;
    background-image: url("images/music_notes2.png");
    background-color: #525767;
    background-repeat: repeat;
    }

.navbar{
    background-color: #2e2e2e;
    height: 100px;
    width: 100%;
}
.logo{
    color: #707070;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30px;
}
.main{
    background-color: white;
    width: 70%;
    height: 70%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}